<% provide(:title, @user.name) %>
<h1><%= @user.name %>, <%= @user.email %></h1>
<h2>Created Events</h2>
<%= render @events %>
<h2>Attended Events</h2>
<h4>Upcoming</h4>
<br>
<%= render @upcoming_events %>
<h4>Previously Attended</h4>
<br>
<%= render @prev_events %>

